project/.idea/codeStyles/codeStyleConfig.xml
project/.idea/codeStyles/Project.xml
project/out/artifacts/LettorAnalysis_jar/LettorAnalysis.jar
TestDemo/out/production/ez_lettor_engine/com/ez/lettor/engine/text/BoxingTest.class
